@import "../../css/colors.css";
@import "../../css/units.css";

.group {
    display: inline-flex;
    flex-direction: row; /* makes columns, for each label/form group */
    align-items: center;
    vertical-align: middle;
}

.language-icon {
    height:  1.5rem;
}

.disabled {
    opacity: .5;
}

.language-select {
    width: 100%;
    height: 1.85rem;
    border: 1px solid #4c97ff;
    user-select: none;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    color: $motion-tertiary;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.language-select:focus {
    border: 1px solid white;
}
