@import "../../css/colors.css";
@import "../../css/units.css";

.language-icon {
    height:  1.5rem;
}

.disabled {
    opacity: .5;
}

.language-select {
    margin: .5rem;
    height: 1.85rem;
    border: 1px solid $motion-primary;
    user-select: none;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    color: $motion-tertiary;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.language-select:focus {
    border: 1px solid white;
}
