@import "../../css/colors.css";
@import "../../css/units.css";

.group {
    z-index: 50;
    top: $menu-bar-height;
    left: 0;
    position: absolute;
    border: 1px solid $ui-black-transparent;
    border-radius: 0 0 8px 8px;
    background-color: $motion-primary;
    padding: 0;
    margin: 0;
    min-width: 186px;
    max-width: 260px;
    overflow: visible;
    color: $ui-white;
    box-shadow: 0 8px 8px 0 $ui-black-transparent;
}

.language-icon {
    height:  1.5rem;
}

.disabled {
    opacity: .5;
}

.language-select {
    margin: .5rem;
    width: calc(100% - 1rem);
    height: 1.85rem;
    border: 1px solid $motion-primary;
    user-select: none;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    color: $motion-tertiary;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.language-select:focus {
    border: 1px solid white;
}
