@import "../../css/colors.css";

.tag-button {
    padding: .625rem 1rem;
    background: $motion-primary;
    border-radius: 1.375rem;
    color: $ui-white;
}

.tag-button-icon {
    max-width: 1rem;
    max-height: 1rem;
}

.active {
    background: $data-primary;
}
