@import "../../css/units.css";

/* @todo: refactor this class name, and component: `sprite-selector` to `sprite` */
.sprite-selector-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background: white;
    color: #5d647a;
    border-width: 2px;
    border-style: solid;
    border-color: #e9eef2;
    border-radius: $space;
    text-align: center;
    cursor: pointer;
}

.sprite-selector-item:hover {
    border-width: 2px;
    border-color: #1dacf4;
    transition: 0.25s ease-out;
}

/* @todo: refactor out descendent selectors into regular classes */
.sprite-selector-item.is-selected {
    border-width: 2px;
    border-color: #1dacf4;
    transition: 0.25s ease-out;
}
.sprite-selector-item.is-selected .info-button {
    display: block;
}

.sprite-image {
    margin: auto;
}

.sprite-name {
    font-size: 0.625rem;
    margin: 0.15rem;
    /*
        For truncating overflowing text gracefully
        Min-width is for a bug: https://css-tricks.com/flexbox-truncated-text
    */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.delete-button {
    position: absolute;
    top: 0.125rem;
    right: 0.125rem;
    z-index: 2;
}
