@import "../../css/colors.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $motion-primary;
    border-radius: 100%;
    width: 2.75rem;
    height: 2.75rem;
    outline: none;
    border: none;
}

.icon {
    width: 1.75rem;
    height: 1.75rem;
}
