@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.workbook-result {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: transparent;
    overflow: hidden;
    border-top-left-radius: $space;
    border-top-right-radius: $space;
    border-color: $ui-black-transparent;
    border-width: 1px;
    border-style: solid;
    border-bottom: 0;
    font-size: 1.2rem;
}

.score {
    flex: 2;
}

.report-container {
    flex: 3;
    display: flex;
    flex-direction: row;
}

.report {
    flex: 1;
}
