@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.workbook-question-container {
    padding: 6px;
    margin-bottom: $space;
    background-color: $ui-white;
    border-bottom-right-radius: $space;
    border: $stage-standard-border-width solid $ui-black-transparent;
    font-size: 1.2rem;
}

.title {
    margin-right: 0.5rem;
    font-weight: bold;
}

.question {
    color: $text-primary;
}
