{
    "plugins": [
        "syntax-dynamic-import",
        "transform-async-to-generator",
        "transform-object-rest-spread",
        ["react-intl", {
            "messagesDir": "./translations/messages/"
        }]],
    "presets": [["env", {"targets": {"browsers": ["last 3 versions", "Safari >= 8", "iOS >= 8"]}}], "react"]
}
