{
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread",
        ["react-intl", {
            "messagesDir": "./translations/messages/"
        }]],
    "presets": [
        ["@babel/preset-env"],
        "@babel/preset-react"
    ]
}
