{
    "parser": "babel-eslint",
    "rules": {
        "curly": [2, "multi-line"],
        "eol-last": [2],
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        "max-len": [2, 120, 4],
        "no-trailing-spaces": [2, { "skipBlankLines": true }],
        "no-unused-vars": [2, {"args": "after-used", "varsIgnorePattern": "^_"}],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "space-before-function-paren": [2, "always"],
        "strict": [2, "never"]
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "plugins": [
        "react"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}
