# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Double copies of all the static assets and tutorial gifs
# Commented out on this branch so that it can be built from source
#/src

# Testing
/.nyc_output
/coverage
/test

# Build
/.opt-in
/build

# generated translation files
/translations
