# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# TO REVERT: the scratch-desktop branch wants to build scratch-gui from source.
# To support that we need to un-ignore the /src directory.
# Once we merge the scratch-desktop branch into develop we should re-ignore /src here.
# We can also do that by omitting or reverting this commit during the merge.
# /src

# Testing
/.nyc_output
/coverage
/test

# Build
/.opt-in
/build

# generated translation files
/translations
