.sa-folders-contextmenu-container {
}

.sa-folders-contextmenu-item {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

[sa-folders-context-type="folder"] > :not(.sa-folders-contextmenu-container) {
  display: none;
}
