@import "../../css/units.css";

.library-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 160px;
    height: 160px;
    margin: calc($space / 2);
    padding: 1rem 1rem 0 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #575e75;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: #e9eef2;
    border-radius: $space;
    text-align: center;
    cursor: pointer;
}

.library-item:hover {
    border-width: 2px;
    border-color: #1dacf4;
    transition: 0.1s ease-out;
    transform: scale(1.02, 1.02);
}

.library-item.is-selected {
    border-width: 2px;
    border-color: #1dacf4;
    transition: 0.25s ease-out;
}

.library-item-image-container {
    height: 100px;
}

.library-item-image {
    max-width: 100%;
    max-height: 100%;
}

.library-item-name {
    width: 80%;
    margin: 0.25rem 0;
    text-align: center;

    /* 
        For truncating overflowing text gracefully
        Min-width is for a bug: https://css-tricks.com/flexbox-truncated-text
    */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0; 
}
