.library-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 160px;
    height: 160px;
    padding: 1rem 1rem 0 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #575e75;
    cursor: pointer;
    border-radius: 0.5rem;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    transition: all 1s ease-out;  /* slower fade out */ 
}

.library-item:hover {
    border-color: #e1e1e1;
    transition: 0.25s ease-out;
    background: #f0f0f0;
}

.library-item.is-selected {
    border-color: #1dacf4;
    background: #f0f0f0;
    transition: 0.25s ease-out;
}

.library-item-image-container {
    height: 100px;
}

.library-item-image {
    max-width: 100%;
    max-height: 100%;
}

.library-item-name {
    width: 80%;
    margin: 0.25rem 0;
    text-align: center;

    /* 
        For truncating overflowing text gracefully
        Min-width is for a bug: https://css-tricks.com/flexbox-truncated-text
    */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0; 
}
