.outlined-button {
    cursor: pointer;
    border-radius: .25rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
    user-select: none;
}

.icon {
    margin-right: .5rem;
    height: 1.5rem;
}

.content {
    white-space: nowrap;
}
