.outlined-button {
    cursor: pointer;
    border-radius: 4px;
    padding: .75rem;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,.1);
}

.icon {
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}
