@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/typography.css";

$content-width: 500px;
$content-height: 450px;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: $ui-modal-overlay;
}

.modal-content {
    margin: 100px auto;
    outline: none;
    border: .25rem solid $ui-white-transparent;
    padding: 0;
    border-radius: $space;
    user-select: none;
    width: $content-width;
    color: $text-primary;
    overflow: hidden;
}

.body {
    /* Need to repeat dimensions here to allow iframe scrolling for iOS */
    width: $content-width;
    height: $content-height;
    background: $ui-white;

    /* These properties needed to allow iframe scrolling for iOS */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
