@import "../../css/units.css";

$header-height: 5rem;

.stage-selector {
    position: relative; /* for the child element border */
    height: 100%;

    /* TODO: Identical to stage-header */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color: #575e75;
    border-top-left-radius: $space;
    border-top-right-radius: $space;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: $header-height;

    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color: #575e75;
    border-top-left-radius: $space;
    border-top-right-radius: $space;
    border-bottom: 1px solid #eaeaea;
}

.title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.625rem;
    font-weight: bold;
    color: #575e75;
}

.count {
    padding: 0.25rem 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.625rem;
    font-weight: bold;
    color: #575e75;
    background: #ededed;
    border-radius: 0.5rem;
}

.label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    color: #575e75;
}

.body {
    padding: $space;
    height: calc(100% - $header-height);
    background-color: #f9f9f9;
}

.canvas-wrapper {
    position: relative;
    border-radius: calc($space / 2);
}

.canvas-wrapper.is-selected::before {
    content: '';
    position: absolute;
    height: 40px; /* canvas element height in JSX - (border width px * 2) */
    width: 52px;  /* canvas element width in JSX - (border width px * 2) */
    border-radius: calc($space / 2);
    border: 2px solid #1dacf4;
}

.costume-canvas {
    display: block;
    width: 100%;
    border-radius: calc($space / 2);
}
