@import "../../css/colors.css";
@import "../../css/units.css";

a.user-info {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 0.95rem;
  max-width: 260px;
  height: $menu-bar-height;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $ui-white;
  font-size: .8125rem;
  font-weight: normal;
}

a.open, a:hover {
  background-color: $ui-black-transparent;
}

a.user-info .avatar {
  margin: 0 calc($space * .5);
  width: 2rem;
  border-radius: $form-radius;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

a.user-info::after {
  display: inline-block;
  margin-left: 8px;
  background-image: url("/images/dropdown.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  content: " ";
}
