.menu-bar {
    display: flex;
    align-items: center;
    
    /* 
        TODO: This adds ~20px in Chrome, when scrolling to the right, 
        but fixes [FFx + Safari] [resize window down + scroll to the right] bug.
        width: 100%; 
    */

    padding: 0.75rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #4c97ff;
    color: white;

    /* 
        For most things, we shouldn't explicitly set height, and let the content 
        push the element to whatever fits. Using a fixed height instead, will help 
        us subtract the value we assign (3rem) from the body, adding up to a perfect 
        100%. This means we don't need to set overflow: hidden, which makes it hard 
        to debug. (In theory). border-box makes for easier to read calc by removing
        padding from the equation.
        TODO: make a var for height, use it in the calc, in gui.bodyWrapper
    */
    box-sizing: border-box;
    height: 3rem; 
}

/* Using a wrapper so when logo is hovered, it transforms via its center point */
.logo-wrapper {
    display: flex;
    justify-content: center;
}

.scratch-logo {
    height: 1.5rem;
    transition: all 2s ease-out;  /* slower fade out */ 
    cursor: pointer;
}

/* http://blog.teamtreehouse.com/create-smoother-animations-transitions-browser */
.scratch-logo:hover {
    transform: scale(1.1, 1.1);
    transition: all .075s ease-in; /* quick transition in */
    background-size: 100%;
}

.title {
    display: inline-block;
    margin: 0 2rem;
}
