@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

$title-width: 12rem;

.title-field {
    border: 1px dashed $ui-black-transparent;
    border-radius: $form-radius;
    -webkit-border-radius: $form-radius;
    -moz-border-radius: $form-radius;
    background-color: $ui-white-transparent;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    width: $title-width;
    height: auto;
    padding: .5rem;
}

.title-field,
.title-field::placeholder {
    color: $ui-white;
    font-weight: bold;
    font-size: .8rem;
}

.title-field:hover {
    background-color: hsla(0, 100%, 100%, 0.5);
}

.title-field:focus {
    outline:none;
    border: none;
    -webkit-box-shadow: 0 0 0 calc($space * .5) $ui-white-transparent;
    box-shadow: 0 0 0 calc($space * .5) $ui-white-transparent;
    background-color: $ui-white;
    color: $text-primary;
}
