@import "../../css/colors.css";

.theme-label {
    max-width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 .5rem 0 .25rem;
}

[dir="rtl"] .theme-label {
    margin: 0 .25rem 0 .5rem;
}

.theme-icon {
    height:  1.5rem;
    vertical-align: middle;
    margin: 0 .25rem 0 0;
}

[dir="rtl"] .theme-icon {
    margin: 0 0 0 .25rem;
}

.theme-option {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.theme-active {
    background-color: $ui-black-transparent;
}

.check {
    margin: 0 .25rem 0 0;
    visibility: hidden;
}

[dir="rtl"] .check {
    margin: 0 0 0 .25rem;
}

.selected {
    visibility: visible;
}

@media only screen and (max-width: 1024px) {
    .theme-label {
        display: none;
    }
}
