p {
    margin: 0 0 16px;
}

.stage-only {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 16px;
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.stage-only * {
    box-sizing: border-box;
}

.center {
    width: 100%;
    height: 100%;
}

.stage-only .center {
    /* there's a couple extra pixels of border around the stage */
    width: 482px;
    margin: auto;
}

/* make sure this isn't "see-inside-button" or anything because that might cause the dev tools to wrongly reinject */
.see-inside {
    text-align: right;
}
