<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <meta name="description" content="TurboWarp is a Scratch mod with a compiler to run projects faster, dark mode for your eyes, a bunch of addons to improve the editor, and more." />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      #splash {
        user-select: none;
        background-color: hsla(0, 100%, 65%, 1); color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute; width: 100%; height: 100%; top: 0; left: 0;
        display: flex; align-items: center; justify-content: center; text-align: center;
      }
      #splash h1 { font-size: 2rem; font-weight: bold; } #splash a { color: inherit; }
      .tw-loaded #splash, #splash-content { display: none; }
      #splash[splash-theme="dark"] { background-color: #333; color: #ddd; }
    </style>
  </head>
  <body>
    <div id="splash" aria-hidden="true">
      <noscript>
        <h1>Enable JavaScript</h1>
      </noscript>
      <div id="splash-content">
        <h1 id="splash-title">Loading scripts</h1>
        <p id="splash-subtitle">This may take a while …</p>
        <p><a id="splash-troubleshooting" href="https://github.com/TurboWarp/scratch-gui/wiki/Troubleshooting" target="_blank" rel="noopener">Troubleshooting</a></p>
      </div>
    </div>
    <script>
      (function() {
        var languages = JSON.parse(/*===*/'{"de":["Skripte werden geladen","Dies kann eine Weile dauern...","Problembehandlung"],"es":["Cargando scripts","Esto puede tardar un rato ...","Solucionar Problemas"],"it":["Caricamento script in corso","Potrebbe richiedere un po\' di tempo...","Risoluzione dei problemi"],"ko":["스크립트 로딩중","시간이 걸릴 수 있습니다...","문제 해결"],"pt":["Carregando scripts","Isso pode demorar um pouco …","Solucionar problemas"],"ro":["Se încarcă blocurile","Asta ar putea dura o vreme ...","Raportați Probleme"],"tr":["Kodlar yükleniyor","Bu biraz zaman alabilir ...","Sorun giderme"],"zh-cn":["加载脚本中……","这可能需要一些时间……","有问题？"]}'/*===*/);
        var lang = navigator.userLanguage || navigator.language || '';
        try {var local = localStorage.getItem('tw:language'); local && (lang = local);} catch (e) {}
        var messages = languages[lang = lang.toLowerCase()] || languages[lang.split('-')[0]];
        if (messages) {
          document.querySelector('#splash-title').textContent = messages[0];
          document.querySelector('#splash-subtitle').textContent = messages[1];
          document.querySelector('#splash-troubleshooting').textContent = messages[2];
        }
        document.querySelector('#splash-content').style.display = 'block';
        <% if (!htmlWebpackPlugin.options.noTheme) { %>
        try {var localTheme = localStorage.getItem('tw:theme');} catch (e) {}
        if (localTheme ? localTheme === 'dark' : window.matchMedia('(prefers-color-scheme: dark)').matches) document.querySelector('#splash').setAttribute('splash-theme', 'dark');
        <% } %>
      })();
    </script>
    <div id="app"></div>
  </body>
</html>
