<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <meta name="description" content="TurboWarp compiles Scratch projects to JavaScript to make them run faster." />
    <!-- <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.root %>static/favicon.ico"> -->
    <link rel="canonical" href="https://turbowarp.org/">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      #splash {
        user-select: none;
        background-color: hsla(0, 100%, 65%, 1); color: white; font-family: sans-serif;
        position: absolute; width: 100%; height: 100%; top: 0; left: 0;
        display: flex; align-items: center; justify-content: center; text-align: center;
      }
      #splash h1 { font-size: 2rem; font-weight: bold; } #splash a { color: inherit; }
      .tw-loaded #splash, #splash-content { display: none; }
      @media (prefers-color-scheme: dark) { #splash { background-color: #333; color: #ddd; } }
    </style>
  </head>
  <body>
    <div id="splash" aria-hidden="true">
      <noscript>
        <h1>Enable JavaScript</h1>
      </noscript>
      <div id="splash-content">
        <h1 id="splash-title">Loading scripts</h1>
        <p id="splash-subtitle">This may take a while …</p>
        <p><a id="splash-troubleshooting" href="https://github.com/TurboWarp/scratch-gui/wiki/Troubleshooting" target="_blank" rel="noopener">Troubleshooting</a></p>
      </div>
    </div>
    <script>
      (function() {
        var languages = JSON.parse('{"es":["Cargando scripts","Esto puede tardar un rato ...","Solucionar Problemas"],"pt":["Carregando scripts","Isso pode demorar um pouco …","Solucionar problemas"]}');
        var lang = navigator.userLanguage || navigator.language || '';
        try {var local = localStorage.getItem('tw:language'); local && (lang = local);} catch (e) {}
        var messages = languages[lang.split('-')[0].toLowerCase()];
        if (messages) {
          document.querySelector('#splash-title').textContent = messages[0];
          document.querySelector('#splash-subtitle').textContent = messages[1];
          document.querySelector('#splash-troubleshooting').textContent = messages[2];
        }
        document.querySelector('#splash-content').style.display = 'block';
      })();
    </script>
    <div id="app"></div>
  </body>
</html>
