<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="google" value="notranslate" />
        <link rel="shortcut icon" href="static/favicon.png" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <style>
            .popAnim {
                transform: scale(1.2);
            }
            .splashHidden {
                display: none !important;
            }
        </style>
    </head>
    <body>
        <script>
            window.addEventListener("keyup", (ev) => {
                if (
                    ev.target &&
                    ev.target.value &&
                    ev.target.value.startsWith("$rt")
                ) {
                    ev.target.value = ev.target.value.substring("$rt".length);
                }
            });
            window.addEventListener("load", ()=>{
                if(!(localStorage.getItem("alreadyShowedSplash") === "true")) {
                    document.getElementById("splash").classList.remove("splashHidden");
                }
            });
        </script>
        <div id="splash"
            style="
                background-color: lightgray;
                border: 2px solid black;
                padding: 1rem;
                position: fixed;
                width: 75%;
                height: 75%;
                top: 12.5%;
                left: 12.5%;
                z-index: 9999;
                border-radius: 1rem;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                overflow-x: hidden;
                overflow-y: scroll;
            "
            class="splashHidden"
        >
            <h2>
                Welcome to Scratch++!
                <button
                    style="
                        border: 0;
                        background-color: transparent;
                        text-decoration: underline;
                        color: red;
                        font-weight: bold;
                        cursor: pointer;
                    "
                    onclick="localStorage.setItem('alreadyShowedSplash', 'true'); document.getElementById('splash').classList.add('splashHidden')"
                    style="cursor: pointer"
                >
                    <h2>[X]</h2>
                </button>
            </h2>
            <p>
                Scratch++ is a Scratch mod that adds new features like fencing
                controls and the power operator. However, unlike other scratch
                mods, it also adds the ability to compile the project for use in
                normal Scratch!<br><br>

                For example, try using a disable fencing block (or any modded block). Then, convert your project to a regular Scratch project by clicking on <code>File > Compile to Scratch</code>. It should be able to load and work in normal Scratch! Just make sure your remember that all the custom blocks have Scratch definitions, so things will likely run slower in normal Scratch.

                Credits:
                <ul>
                    <li>ZXMushroom63 - Scratch++ concept, compiler, GUI, distilled-impulse, and many custom block definitions.</li>
                    <li>DadOfMrLog - Power script</li>
                    <li>NitroCipher - Decimal Color at X Y calculator</li>
                    <li>EncloCreations - Decimal to Hexadecimal</li>
                    <li>griffpatch - Scratch port of the java port of the Impulse2D physics engine.</li>
                    <li>Randy Gaul - Original C++ Impulse2D physics engine.</li>
                    <li>LeopardJS Team - Leopard converter was used to convert distilled-impulse into JS</li>
                    <li>GarboMuffin - Scratch++ makes use of the TurboWarp compression algorithm.</li>
                    <li>Xeltalliv - Scratch++ makes use of the ScratchTools compression algorithm.</li>
                </ul>

                Warning:
                Due to the nature of how Scratch++ works, large projects mey not be uploadable to Scratch. To counteract this issue, try reducing the number of sprites that use large custom blocks. (Eg: using physics blocks in every sprite makes the compiler inject the physics engine in to every sprite.)
            </p>
        </div>
        <div id="sppsettings"
            style="
                background-color: lightgray;
                border: 2px solid black;
                padding: 1rem;
                position: fixed;
                width: 75%;
                height: 75%;
                top: 12.5%;
                left: 12.5%;
                z-index: 9999;
                border-radius: 1rem;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                overflow-x: hidden;
                overflow-y: scroll;
            "
            class="splashHidden"
        >
            <h2 style="padding: 0; margin: 0;">
                Scratch++ Settings
                <button
                    style="
                        border: 0;
                        background-color: transparent;
                        text-decoration: underline;
                        color: red;
                        font-weight: bold;
                        cursor: pointer;
                    "
                    onclick="document.getElementById('sppsettings').classList.add('splashHidden')"
                    style="cursor: pointer"
                >
                    <h2>[X]</h2>
                </button>
            </h2>
            <p>Changing these settings requires a reload.</p>
            <table>
                <tr>
                    <td>
                        [NEW] Blockly Dev Tools
                    </td>
                    <td>
                        <input type="checkbox" oninput="localStorage.setItem('blocklydevtools', this.checked)" id="blocklydevtools">
                        <script>if (localStorage.getItem("blocklydevtools") === "true"){document.querySelector("#blocklydevtools").setAttribute("checked", "")}</script>
                    </td>
                    <td><small>Allows in-editor modification of block XML, as well as collapsing blocks and force-delete. (By ZXMushroom63)</small></td>
                </tr>
                <tr>
                    <td>
                        Clean Up+
                    </td>
                    <td>
                        <input type="checkbox" oninput="localStorage.setItem('cleanupplus', this.checked)" id="cleanupplus">
                        <script>if (localStorage.getItem("cleanupplus") === "true"){document.querySelector("#cleanupplus").setAttribute("checked", "")}</script>
                    </td>
                    <td><small>Enhances Scratch's clean up function. (By griffpatch)</small></td>
                </tr>
                <tr>
                    <td>
                        Cat Blocks
                    </td>
                    <td>
                        <input type="checkbox" oninput="localStorage.setItem('catblocks', this.checked)" id="catblocks">
                        <script>if (localStorage.getItem("catblocks") === "true"){document.querySelector("#catblocks").setAttribute("checked", "")}</script>
                    </td>
                    <td><small>Brings back the 2020 cat blocks. (By TheColaber, GarboMuffin)</small></td>
                </tr>
                <tr>
                    <td>
                        Blocks2Image
                    </td>
                    <td>
                        <input type="checkbox" oninput="localStorage.setItem('blocks2image', this.checked)" id="blocks2image">
                        <script>if (localStorage.getItem("blocks2image") === "true"){document.querySelector("#blocks2image").setAttribute("checked", "")}</script>
                    </td>
                    <td><small>Adds export to image options to the right-click menu. (By summerscar)</small></td>
                </tr>
                <tr>
                    <td>
                        Numberpad
                    </td>
                    <td>
                        <input type="checkbox" oninput="localStorage.setItem('numberpad', this.checked)" id="numberpad">
                        <script>if (localStorage.getItem("numberpad") === "true"){document.querySelector("#numberpad").setAttribute("checked", "")}</script>
                    </td>
                    <td><small>Force shows the number pad on number inputs. (By GarboMuffin)</small></td>
                </tr>
                <tr>
                    <td>
                        Cherry Picking
                    </td>
                    <td>
                        <input type="checkbox" oninput="localStorage.setItem('cherrypicking', this.checked)" id="cherrypicking">
                        <script>if (localStorage.getItem("cherrypicking") === "true"){document.querySelector("#cherrypicking").setAttribute("checked", "")}</script>
                    </td>
                    <td><small>Grab single blocks by dragging with the Ctrl key. (By lisa_wolfgang, GarboMuffin)</small></td>
                </tr>
                <tr>
                    <td>
                        Locator
                    </td>
                    <td>
                        <input type="checkbox" oninput="localStorage.setItem('locator', this.checked)" id="locator">
                        <script>if (localStorage.getItem("locator") === "true"){document.querySelector("#locator").setAttribute("checked", "")}</script>
                    </td>
                    <td><small>Locate blocks by their id, opcode, proccode, or referenced variable ids using a search bar in the top-left. (By griffpatch, ZXMushroom63)</small></td>
                </tr>
                <tr>
                    <td>
                        Opacity Slider
                    </td>
                    <td>
                        <input type="checkbox" oninput="localStorage.setItem('opacity', this.checked)" id="opacity">
                        <script>if (localStorage.getItem("opacity") === "true"){document.querySelector("#opacity").setAttribute("checked", "")}</script>
                    </td>
                    <td><small>Adds an opacity slider to the costume editor color picker. (By itta611)</small></td>
                </tr>
            </table>
        </div>
        <div id="sppgenerators"
            style="
                background-color: lightgray;
                border: 2px solid black;
                padding: 1rem;
                position: fixed;
                width: 75%;
                height: 75%;
                top: 12.5%;
                left: 12.5%;
                z-index: 9999;
                border-radius: 1rem;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                overflow-x: hidden;
                overflow-y: scroll;
            "
            class="splashHidden"
        >
            <h2 style="padding: 0; margin: 0;">
                Scratch++ Generators
                <button
                    style="
                        border: 0;
                        background-color: transparent;
                        text-decoration: underline;
                        color: red;
                        font-weight: bold;
                        cursor: pointer;
                    "
                    onclick="document.getElementById('sppgenerators').classList.add('splashHidden')"
                    style="cursor: pointer"
                >
                    <h2>[X]</h2>
                </button>
            </h2>
            <a style="text-decoration: underline; color: blue; font-weight: bold;"
             href="static/mp4_2_sb3.html"
              target="_blank">.mp4 to .sb3 packager (and all other video file formats)</a>
            <br><br><br>
            <span>Use with caution! Uploading large generated projects to Scratch can trigger automated bans (usually the project will instantly fail to save, if that happens, do NOT press "Try Again")</span><br>
            <span>These are mostly tech demos, I recommend testing them on TurboWarp or the offline Scratch editor, in order to not upload the large assets to Scratch's servers.</span>
        </div>
    </body>
</html>
