/* Base styles used by Scratch https://github.com/LLK/scratch-www/blob/develop/src/main.scss */
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    border: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    line-height: 1.7em;
}
h1 {
    font-weight: 2.5rem;
}
h2 {
    font-weight: 2rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1rem;
}
a {
    color: #25d;
    cursor: pointer;
    text-decoration: underline;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.editor {
    min-width: 1024px;
    min-height: 640px;
    height: 100%;
}
.editor .center {
    height: 100%;
}

.player-only .center {
    margin: auto;
}
.menu {
    margin-bottom: 8px;
}
.section {
    margin: 8px 0 8px 0;
}

.footer {
    padding: 10px 0;
    margin-top: 10px;
    background: #eee;
}
.footer a {
    font-weight: bold;
    text-decoration: none;
}
[theme="dark"] .footer {
    background-color: #151515;
}
.footer-content {
    max-width: 600px;
    margin: auto;
}
.footer-text {
    text-align: center;
    margin: 5px 0 10px 0;
}
.footer-columns {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.footer-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 10px;
}
.footer-section > * {
    margin-bottom: 10px;
}

[theme="dark"] .container {
    background-color: #111;
}
[theme="dark"] .player-only {
    color: #ddd;
}
[theme="dark"] a {
    color: #4af;
}
