p {
    margin: 0;
}
a {
    color: #25d;
    cursor: pointer;
    text-decoration: underline;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.editor {
    min-width: 1024px;
    min-height: 640px;
    height: 100%;
}
.editor .center {
    height: 100%;
}

.player-only .center {
    margin: auto;
}
.menu {
    margin-bottom: 8px;
}
.section {
    margin: 8px 0 8px 0;
}

.footer {
    padding: 10px 0;
    margin-top: 10px;
    background: #eee;
}
[theme="dark"] .footer {
    background-color: #151515;
}
.footer-content {
    max-width: 600px;
    margin: auto;
    flex-wrap: wrap;
}
.footer-text {
    text-align: center;
    margin: 5px 0 10px 0;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-section {
    max-width: 200px;
    margin-bottom: 10px;
}
.footer-section > * {
    margin-bottom: 8px;
}
.footer-header {
    font-weight: bold;
    margin-bottom: 10px;
}

[theme="dark"] .container {
    background-color: #111;
}
[theme="dark"] .player-only {
    color: #ddd;
}
[theme="dark"] a {
    color: #4af;
}
