p {
    margin: 0;
}
a {
    color: #25d;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

.editor .center {
    height: 100%;
}

.player-only {
    padding-bottom: 16px;
}
.player-only * {
    box-sizing: border-box;
}
.player-only .center {
    /* there's a couple extra pixels of border around the stage */
    width: 482px;
    margin: auto;
}
.menu {
    margin-bottom: 8px;
}
.section {
    margin: 8px 0 8px 0;
}
.footer p {
    text-align: center;
    font-size: small;
    margin: 8px 0 8px 0;
}

[theme="dark"] .container {
    background-color: #111;
}
[theme="dark"] .player-only {
    color: #ddd;
}
[theme="dark"] a {
    color: #4af;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
    }
}
