p {
    margin: 0 0 16px;
}

.stage-only {
    width: 480px;
    margin: 24px auto 0;
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.stage-only * {
    box-sizing: border-box;
}

/* make sure this isn't "see-inside-button" or anything because that might cause the dev tools to wrongly reinject */
.see-inside {
    float: right;
}
