h1 {
    font-size: 54px;
    line-height: 72px;
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0 0 16px;
}

.stage-only {
    width: 480px;
    margin: 24px auto 0;
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.stage-only * {
    box-sizing: border-box;
}
