@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.alert-container {
    position:absolute;
    z-index: $z-index-card;
    margin: 0.5rem 2rem;
}

.alert {
    border: 1px solid #FF8C1A;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: move;
    background: #FFF0DF;
    width: 448px;
    color: #000;
    z-index: 20;
    overflow: hidden;
    padding: 16px;
    font-size: 10pt;
    box-shadow: 2px 2px 2px 2px rgba(255, 140, 26, 0.25);;
    align-items: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
