@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.alert {
    width: 100%;
    background: #FFF0DF;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: left;
    border: 1px solid #FF8C1A;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 0px 0px 2px rgba(255, 140, 26, 0.25);
    margin-bottom: 7px;
}

.alert-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.alert-message {
    color: #555;
    font-weight: bold;
    font-size: 12px;
    line-height: 22pt;
    width: 100%;
}

.alert-close-button {
    outline-style:none;
}

.alert-close-button-container {
    margin-top: 7px;
    margin-right: 4px;
    outline-style:none;
    width: 30px;
    height: 30px;
}

.connection-button {
    padding: 0.55rem 0.9rem;
    border-radius: 0.35rem;
    background: #FF8C1A;
    color: white;
    font-weight: 700;
    font-size: 0.77rem;
    margin: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 13px;
    outline-style:none;
}
