@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.alert {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: left;
    border-radius: $space;
    padding: $space;
    margin-bottom: 7px;
}

.alert.warn {
    background: #FFF0DF;
    border: 1px solid #FF8C1A;
    box-shadow: 0px 0px 0px 2px rgba(255, 140, 26, 0.25);
}

.alert.success {
    background: $extensions-light;
    border: 1px solid $extensions-tertiary;
    box-shadow: 0px 0px 0px 2px $extensions-light;
}

.alert-icon {
    margin: $space;
    vertical-align: middle;
}

.alert-message {
    color: #555;
    font-weight: bold;
    font-size: .75rem;
    line-height: 14px;
    width: 100%;
    display: flex;
    align-items: center;
}

.alert-close-button {
    outline-style:none;
}

.alert-close-button-container {
    outline-style: none;
    width: 30px;
    height: 30px;
    align-self: center;
}

.connection-button {
    padding: 0.55rem 0.9rem;
    border-radius: 0.35rem;
    background: #FF8C1A;
    color: white;
    font-weight: 700;
    font-size: 0.77rem;
    margin: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 13px;
    outline-style:none;
}
