@import "../../css/z-index.css";

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    z-index: $z-index-tw-overlay;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.inner {
    background: rgba(255, 255, 255, 1);
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;
    min-width: 480px;
    max-width: 740px;
    padding: 15px;
}

.new-project {
    padding-top: 3px;
}
