@import "../../css/units.css";
@import "../../css/colors.css";

.library-scroll-grid {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background: $ui-secondary;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100% - $library-header-height);
    padding: 0.5rem;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    background-color: $motion-transparent;
    justify-content: flex-start;
    height: 4.5rem;
    padding: 1rem;
}

.filter-bar-item {
    margin-right: .75rem;
}

.filter {
    flex-grow: 0;
}

.filter-input {
    width: 6rem;
    transition: .2s;
}

.filter-input:focus,
.filter-input:not([value=""]) {
    width: 13.25rem;
}

.divider {
    transform: scaleY(1.39);
}
