@import "../../css/units.css";
@import "../../css/colors.css";

.library-scroll-area {
    padding: calc($library-grid-gap * 2);
    background: $ui-secondary;
    overflow-y: auto;
    height: calc(100% - $library-header-height);
}

.with-filter-bar {
    height: calc(100% - $library-header-height - $library-filter-bar-height - 2rem);
}

.library-grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, calc($library-item-height + 2 * $library-grid-gap));
    grid-template-columns: repeat(auto-fill, calc($library-item-width + 2 * $library-grid-gap));
    justify-content: center;
}

.featured {
    grid-template-rows: repeat(auto-fill, calc($library-item-height-large + 2 * $library-grid-gap));
    grid-template-columns: repeat(auto-fill, calc($library-item-width-large + 2 * $library-grid-gap));
}

.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: calc($library-filter-bar-height + 2rem); /* padding */
    background-color: $motion-transparent;
    padding: 0 1rem;
    font-size: .875rem;
}

.filter-bar-item {
    margin-right: .75rem;
}

.filter {
    flex-grow: 0;
}

.filter-input {
    width: 11.5rem;
    transition: .2s;
}

.filter-input:focus,
.filter-input:not([value=""]) {
    width: 18.75rem;
}

.divider {
    transform: scaleY(1.39);
    height: $library-filter-bar-height;
}

.tag-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: $library-filter-bar-height;
    overflow: hidden;
}
