@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 360px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
}

.label {
    font-weight: 500;
    margin: 0 0 0.75rem;
}

.input {
    margin-bottom: 1.5rem;
    width: 100%;
    border: 1px solid $ui-black-transparent;
    border-radius: 5px;
    padding: 0 1rem;
    height: 3rem;
    color: $text-primary-transparent;
    font-size: .875rem;
}

.button-row {
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background: white;
    border: 1px solid $ui-black-transparent;
    font-weight: 600;
    font-size: 0.85rem;
}

.button-row button.ok-button {
    background: $motion-primary;
    border: $motion-primary;
    color: white;
}

.button-row button + button {
    margin-left: 0.5rem;
}

.more-options {
    border-top: 1px dashed hsla(0, 0%, 0%, .25);
    overflow: visible;
    padding: 1rem;
    text-align: center;
    margin: 0 0 1rem;
}

.hide-more-options {
    display: none;
}

.more-options-accordion {
    width: 60%;
    margin: 0 auto;
}

.more-options-text {
    opacity: .5;
}

.more-options-icon {
    width: .75rem;
    height: .75rem;
    margin-left: .5rem;
    vertical-align: middle;
    padding-bottom: .2rem;
    opacity: .5;
}
