@import "../../css/colors.css";
@import "../../css/units.css";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(94, 102, 125, .95);
}

.modal-content {
    width: 360px;
    margin: 100px auto;
    outline: none;
    border: 3px solid rgb(126, 133, 151);
    padding: 0;
    border-radius: $space;
    user-select: none;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5d647a;
    overflow: hidden;
}

.header {
    font-size: 1.25rem;
    height: 3.25rem;
    background-color: $blue;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 3.25rem;
}

.body {
    background: $ui-pane-gray;
    padding: 1.5rem 2.25rem;
}

.label {
    font-weight: 500;
    margin: 0 0 0.75rem;
}

.input {
    margin-bottom: 1.5rem;
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 0 1rem;
    height: 3rem;
    color: #6b6b6b;
    font-size: .875rem;
}

.button-row {
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background: white;
    border: 1px solid $ui-pane-border;
    font-weight: 600;
    font-size: 0.85rem;
}

.button-row button.ok-button {
    background: $blue;
    border: $blue;
    color: white;
}

.button-row button + button {
    margin-left: 0.5rem;
}
