.badge {
    padding: 0.5rem;
    margin: 5px 0 8px 0;
    border: 1px solid #b9d6ff;
    background-color: #dbebff;
    display: flex;
    align-items: center;
}
[theme="dark"] .badge {
    border-color: #203652;
    background-color: #16202c;
}

.icon {
    margin-right: 0.25rem;
}

.text {

}
