@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 480px;
}

.header {
    background-color: $pen-primary;
}

.body {
    background: $ui-white;
}

.label {
    font-weight: 500;
    margin: 0 0 0.75rem;
}

.button-row {
    font-weight: bolder;
    text-align: center;
}

.blue-button {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background: $motion-primary;
    color: white;
    font-weight: 600;
    font-size: 0.85rem;
    margin: 0.25rem;
}

.refresh-button {
}

.device-tile-pane {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.device-tile {
    background-color: $ui-white;
    border-radius: 0.25rem;
    padding: 10px;
    width: 100%;
    height: 55px;
    margin-bottom: 0.5rem;
}

.device-tile button {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.85rem;
    background: $motion-primary;
    border: $motion-primary;
    color: white;
}

.signal-strength-text {
    margin: 5px;
}

.device-tile-widgets {
    float: right;
}

.activityArea {
    height: 165px;
    background-color: $motion-light-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activityAreaInfo {
}

.bottomArea {
    height: 150px;
    background-color: $ui-white;
}

.instructions {
    text-align: center;
    padding: 1rem;
}
