.signal-strength-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 80%;
    padding: 5px;
}


.signal-bar {
    width: 3px;
    margin-left: 1px;
    margin-right: 1px;
}