.oldtimey-mode {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url('./oldtimey.png') center center;
    background-size: 100% 100%;
    z-index: 500;
    pointer-events: none;
}