@import "../../css/units.css";
@import "../../css/colors.css";

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card-container {
    position:absolute;
    z-index: 100;
}

.left-card {
    height: 90%;
    position: absolute;
    top: 5%;
    left: -10px;
    background: white;
    border: 1px solid #ddd;
    border-right: 0;
    width: 10px;
    z-index: 99;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    opacity: 0.9;
    overflow: hidden;
    /* box-shadow: -5px 5px 5px 5px rgba(0,0,0,0.1); */

}

.right-card {
    height: 90%;
    position: absolute;
    top: 5%;
    right: -10px;
    background: white;
    border: 1px solid $ui-black-transparent;
    border-left: 0;
    width: 10px;
    z-index: 99;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    overflow: hidden;
    opacity: 0.9;
    /* box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1); */

}

.left-card::after, .right-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1.8rem;
    width: 100%;
    background: $motion-primary;
}

.card {
    /* background: white; */
    border: 1px solid #ddd;
    border-radius: 0.75rem;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    cursor: move;
    z-index: 101;
    overflow: hidden;
    box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.25);
    align-items: center;
}

.header-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0.5rem; */
    background: $motion-primary;
    border-bottom: 1px solid $motion-tertiary;
    /* color: white; */
    /* padding: 0.8rem; */
    padding: 0.5rem;
    font-size: 0.625rem;
}
.remove-button, .collapse-button {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* color: #888; */
    /* font-size: 0.75rem; */
}

.step-title {
    font-size: 0.95rem;
    margin: 0.85rem;
    text-align: center;
    font-weight: bold;
    color: $text-primary;
}

.step-description {
    text-align: center;
    /* margin: 0 0 1rem; */
}

.step-body {
    background: white;
    /* background: #F9F9F9; */
    /* border: 1px solid #ddd; */
    /* width: 452px; */
    min-height: 160px;
    /* border-radius: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    /* padding: 0 0.5rem 0.5rem 0.5rem; */

}
.step-image {
    /* background: #F9F9F9;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden; */
    /* width: 452px; */
}
.step-video {
height: 337px;
}
.step-image {
    cursor: zoom-in;
    max-width: 450px;
    background: #F9F9F9;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 0.5rem 0.5rem;
}

/* .step-image img {
    display: block;
    justify-content: c
} */

.left-button, .right-button {
    cursor: pointer;
    background: $motion-primary;
    box-shadow: 0 0 0 4px $motion-transparent;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 101;
    user-select: none;
}

.left-button {
    left: -27px;
}

.right-button {
    right: -27px;
}


.events-block {
    color: rgb(247,194,81);
    font-weight: bold;
    text-decoration: underline;
}

.sound-block {
    color: rgb(193,108,202);
    font-weight: bold;
    text-decoration: underline;
}

.looks-block {
    color: rgb(144,110,247);
    font-weight: bold;
    text-decoration: underline;
}

.control-block {
    color: $control-primary;
    font-weight: bold;
    text-decoration: underline;
}

.motion-block {
    color: $motion-primary;
    font-weight: bold;
    text-decoration: underline;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 95;
}

.decks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0.5rem 0.5rem;
    /* padding: 1rem; */
}

.deck {
    display: flex;
    flex-direction: column;
    margin: 0 8px 8px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    overflow: hidden;
}

.deck-image {
    /* filter: hue-rotate(90deg); */
    width: 130px;
    height: 100px;
    object-fit: cover;
    /* border: 1px solid #ddd; */
    /* border-radius: 0.25rem; */
}

.deck-name {
    /* color: red; */
    color: $motion-primary;
    font-weight: bold;
    font-size: 0.85rem;
    margin: 14px 0px;
    text-align: center;
    /* color: #FFFFFF; */
    font-family: "Helvetica Neue";
    /* font-size: 12px; */
    font-weight: bold;
    /* line-height: 15px; */
    text-align: center;
}

.zoom-icon {
    position: absolute;
    bottom: 12px;
    right: 10px;
    /* pointer-events: none; */
    cursor: zoom-in;
}

.help-icon, .close-icon {
    height: 0.75rem;
}
.help-icon {
    margin-right: 0.25rem;
}
.close-icon {
    margin-left: 0.25rem;
    transform: rotate(45deg);
}

.see-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
}
.see-all-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: $motion-primary;
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    	/* height: 15px;
        width: 55px;	 */
        color: #FFFFFF;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        text-align: center;
}
.see-all-button img {
    margin-left: 0.5rem;
}

.video-cover {
    /* background: green; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
