.sprite-selector {
    flex-basis: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    margin-right: calc(0.75rem / 2);
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
}

.scroll-wrapper {
    /*
       Sets the sprite-selector items as a scrollable pane, 
       using height of .sprite-info (5rem)

       TODO: Make and link a variable for the height
       TODO: Safari: Doesn't work, can't scroll 
    */
    height: calc(100% - 5rem); 
    overflow-y: scroll;
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    /* 
        See more comments in .sprite-selector-item
        
        TODO: When there are 2 or 3 sprites are on a row, they don't flow correctly
        TODO: Ensure space unit amount between sprites, without applying margin to item component? 
    /* justify-content: space-between; */

    padding-top: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    /* 
        TODO: Currently, the last row of sprite items are pushing the wrapper down, 
        one space unit, properly. When we correctly remove margin bottom from sprite 
        items, we'll need to add this back.
    padding-bottom: 0.75rem; 
    */
}