@import "../../css/colors.css";

.input {
    margin-top: 5px;
    border: none;
    width: 100%;
    font-size: 23px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
}

.input:focus {
    color: rgba(0, 0, 0, 1);
}
