.sa-custom-zoom-area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 148px;
  pointer-events: none;
}
.blocklyZoom > * {
  transition: transform var(--sa-custom-zoom-speed, 0) ease-in-out;
}
.sa-custom-zoom-hidden > * {
  transform: translateX(80px);
}
