@import "../../css/z-index.css";

.overlay {
    opacity: 0;
    position: absolute;
    z-index: $z-index-tw-edit-lock;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    cursor: not-allowed;
}

.overlay:hover {
    opacity: 1;
}
