@import "../../css/units.css";
@import "../../css/colors.css";

.wrapper {
    display: flex;
    flex-grow: 1;
    border: 1px solid $ui-pane-border;
    border-top-right-radius: $space;
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
}

.detail-area {
    flex-grow: 1;
    flex-shrink: 0;
    border-left: 1px solid $ui-pane-border;
}
