/*
Imported from:
https://github.com/forkphorus/forkphorus/tree/master/studioview
With changes to make it work properly in the scratch-gui environment.
*/

/* we wrap it in a <div> */
.wrapper {
  height: 100%;
}
/* we let you disable the view */
.disabled {
  pointer-events: none;
  opacity: 0.8;
}
/* fix some styles that can be messed up by scratch-gui */
.studioview-root * {
  box-sizing: content-box !important;
}

.studioview-root {
  height: 100%;
}
.studioview-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-anchor: none;
}
.studioview-project, .studioview-placeholder {
  display: inline-block;
  width: 144px;
  padding: 3px;
  margin-bottom: 1px;
  margin-right: 1px;
}
.studioview-project {
  text-decoration: none;
}
.studioview-root[theme=light] .studioview-loaded:hover {
  background: rgba(0, 0, 0, 0.1);
}
.studioview-root[theme=dark] .studioview-loaded:hover {
  background: rgba(255, 255, 255, 0.1);
}
.studioview-root[theme=light] .studioview-loaded:active {
  background: rgba(0, 0, 0, 0.2);
}
.studioview-root[theme=dark] .studioview-loaded:active {
  background: rgba(255, 255, 255, 0.2);
}
.studioview-root .studioview-title,
.studioview-root .studioview-author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  text-decoration: none;
}
.studioview-root[theme=dark] .studioview-title,
.studioview-root[theme=dark] .studioview-author {
  color: #ddd;
}
.studioview-title {
  font-size: 0.8em;
  font-weight: bold;
}
.studioview-author {
  font-size: 0.75em;
}
.studioview-error {
  width: 100%;
}

.studioview-thumbnail, .studioview-placeholder-thumbnail {
  width: 144px;
  height: 108px;
}
.studioview-thumbnail img {
  width: 100%;
  height: 100%;
}

.studioview-thumbnail,
.studioview-placeholder .studioview-title,
.studioview-placeholder .studioview-author {
  background: rgba(0, 0, 0, 0.1);
}
.studioview-root[theme=dark] .studioview-thumbnail,
.studioview-root[theme=dark] .studioview-placeholder .studioview-title,
.studioview-root[theme=dark] .studioview-placeholder .studioview-author {
  background: rgba(255, 255, 255, 0.1);
}

.studioview-title {
  height: 20px;
  margin-top: 2px;
}
.studioview-author {
  height: 18px;
}

.studioview-placeholder .studioview-title {
  border-radius: 2px 2px 2px 0;
  width: 100%;
}
.studioview-placeholder .studioview-author {
  border-radius: 0 0 2px 2px;
  width: 50%;
}
