/*
Imported from:
https://github.com/forkphorus/forkphorus/tree/master/studioview
With changes to make it work properly in the scratch-gui environment.
*/

/* we wrap it in a <div> */
.wrapper {
  height: 100%;
}
/* fix some styles that can be messed up by scratch-gui */
.studioview-root * {
  box-sizing: content-box !important;
}

.studioview-root {
  height: 100%;
}
.studioview-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-anchor: none;
}
.studioview-project, .studioview-placeholder {
  display: inline-block;
  width: 144px;
  padding: 3px;
  margin-bottom: 1px;
  margin-right: 1px;
}
.studioview-root .studioview-project {
  color: inherit;
  position: relative;
  text-decoration: none;
}
.studioview-loaded:hover::before, .studioview-loaded:active::before {
  content: '';
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: 0.1;
}
.studioview-root .studioview-loaded:active::before {
  opacity: 0.2;
}
.studioview-root .studioview-title,
.studioview-root .studioview-author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}
.studioview-title {
  font-size: 0.8em;
  font-weight: bold;
}
.studioview-author {
  font-size: 0.75em;
}
.studioview-error {
  width: 100%;
}

.studioview-thumbnail, .studioview-placeholder-thumbnail {
  position: relative;
  width: 144px;
  height: 108px;
}
.studioview-thumbnail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: 0.1;
}
.studioview-thumbnail img {
  width: 100%;
  height: 100%;
}

.studioview-placeholder .studioview-thumbnail,
.studioview-placeholder .studioview-title,
.studioview-placeholder .studioview-author {
  background-color: currentColor;
  opacity: 0.1;
}

.studioview-title {
  height: 20px;
  margin-top: 2px;
}
.studioview-author {
  height: 18px;
}

.studioview-placeholder .studioview-title {
  border-radius: 2px 2px 2px 0;
  width: 100%;
}
.studioview-placeholder .studioview-author {
  border-radius: 0 0 2px 2px;
  width: 50%;
}
