@import "../../css/colors.css";
@import "../../css/units.css";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .75);
}

.modal-content {
    position: absolute;
    outline: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: 'touch';
    border: 1px solid #ccc;
    padding: 0;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-radius: $space;
}

.modal-children {
    overflow: hidden;
    height: 100%;
    z-index: 0;
    padding: 2rem;
    background: $ui-pane-gray;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}
