@import "../../css/units.css";

$form-border: #E9EEF2;
$form-radius: calc($space / 2);

.sprite-info {
    height: $sprite-info-height;
    padding: $space;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color: #575e75;
    border-top-left-radius: $space;
    border-top-right-radius: $space;
    border-bottom: 1px solid #eaeaea;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row-primary { margin-bottom: $space; }

.label { opacity: 0.8; }

.group {
    display: inline-flex;
    flex-direction: row; /* makes columns, for each label/form group */
    align-items: center;
}

.icon-wrapper {
    display: inline-block;

    /*
        content-box is normally the browser's default.
        We're overriding the global, which we set to border-box
    */
    box-sizing: content-box;
    width: 1.25rem;
    height: 1.25rem;
    padding: calc($space / 2);
    outline: none;
    user-select: none;
}

.icon {
    width: 100%;
    height: 100%;
}

/* @todo: refactor radio divs to input */
.radio { opacity: 0.4; cursor: pointer; }
.radio.is-active   { opacity: 1; }
.radio.is-disabled { cursor: default; }

.radio-left {
    border: 1px solid $form-border;
    border-top-left-radius: $form-radius;
    border-bottom-left-radius: $form-radius;
}

.radio-right {
    border-bottom: 1px solid $form-border;
    border-top: 1px solid $form-border;
    border-right: 1px solid $form-border;
    border-top-right-radius: $form-radius;
    border-bottom-right-radius: $form-radius;
}

.icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.input-label {
    font-size: 0.625rem;
    font-weight: bold;
    margin-right: calc($space / 2);

    /* @todo: make this a mixin for all UI text labels */
    user-select: none;
    cursor: default;
}

.input-label-secondary {
    font-size: 0.625rem;
    margin-right: calc($space / 2);

    /* @todo: make this a mixin for all UI text labels */
    user-select: none;
    cursor: default;
}

.input-form {
    padding: $space 0.75rem;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.625rem;
    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: $form-border;
    border-radius: 2rem;

    outline: none;
    cursor: text;
    transition: 0.25s ease-out; /* @todo: standardize with var */
    box-shadow: none;

    /*
        For truncating overflowing text gracefully
        Min-width is for a bug: https://css-tricks.com/flexbox-truncated-text
        @todo: move this out into a mixin or a helper component
    */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.input-form:focus {
    border-color: #4c97ff;
    box-shadow: inset 0 0 0 -2px rgba(0, 0, 0, 0.1);
}

.x, .y, .direction { width: 3.5rem; text-align: center; }

.rotation-select {
    width: 100%;
    height: 1.85rem;
    border: 1px solid $form-border;
    user-select: none;
    outline: none;
}

.sprite-name { width: 100%; }
