/* Change z-indexes to allow more than 3 tabs */
.gui_tab_27Unf.gui_is-selected_sHAiu {
  z-index: 10 !important;
}
.gui_tab_27Unf:nth-of-type(1) {
  z-index: 9;
}
.gui_tab_27Unf:nth-of-type(2) {
  z-index: 8;
}
.gui_tab_27Unf:nth-of-type(3) {
  z-index: 7;
}
.gui_tab_27Unf:nth-of-type(4) {
  z-index: 6;
}

.sa-var-manager {
  display: block;
  padding: 18px;
  /* weird hack to fix scrolling??? */
  height: 50px;
  overflow-y: auto;
}

.sa-var-manager-searchbox {
  background-image: url("search.svg");
  width: 25%;
  margin-bottom: 4px;
  padding: 8px;
  padding-right: 32px; /* for the text to not overlap the image */
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: calc(100% - 7px) center;
  font-size: 0.75rem;
}
[theme="dark"] .sa-var-manager-searchbox {
  border-color: #333;
}

[dir="rtl"] .sa-var-manager-searchbox {
  padding-right: 8px;
  padding-left: 32px;
  background-position: 7px center;
}

.sa-var-manager.freeze .sa-var-manager-value *,
.sa-var-manager.freeze .sa-var-manager-name * {
  opacity: 0.5;
}

.sa-var-manager.freeze input:focus,
.sa-var-manager.freeze textarea:focus {
  opacity: 1;
}

.sa-var-manager-heading {
  display: block;
  font-weight: bold;
  font-size: large;
  margin-top: 6px;
  margin-bottom: 6px;
}

.sa-var-manager-name {
  word-break: break-word;
}

.sa-var-manager .sa-var-manager-value {
  width: 75%;
}

.sa-var-manager * > input {
  background: none;
  border: none;
  padding: 8px;
  width: 100%;
  height: 100%;
}

.sa-var-manager-value > textarea {
  background: none;
  border: none;
  padding: 8px;
  width: 100%;
  height: 100%;
  line-height: 2em;
  resize: none;
}

.sa-var-manager table {
  border-radius: 5px;
  border-collapse: collapse;
  width: 100%;
}

.sa-var-manager td {
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
}
[theme="dark"] .sa-var-manager td {
  border-color: #333;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */
