.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.title h1 {
    font-size: 54px;
    line-height: 72px;
    margin: 0;
    font-weight: normal;
}

.subtitles {
    text-align: right;
}
