@import "../../css/units.css";

.stage {
    /*
        Fixes a few extra pixels of margin/padding, that adds on to the bottom
        of the element, which messes up the chrome padding consistency
    */
    display: block;

    border-radius: $space;

    /* @todo: This is for overriding the value being set somewhere. Where is it being set? */
    background-color: transparent;
}

.stage-wrapper {
    position: relative;
}

.stage-wrapper-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 999;
}

.stage-wrapper-overlay-controls {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 999;
}

.stage-wrapper-overlay-close {
    position: fixed;
    top: 2%;
    left: 97%;
    right: 5%;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 999;
}

.monitor-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
