@import "../../css/units.css";
@import "../../css/colors.css";

.stage {
    /*
        Fixes a few extra pixels of margin/padding, that adds on to the bottom
        of the element, which messes up the chrome padding consistency
    */
    display: block;

    /* @todo: This is for overriding the value being set somewhere. Where is it being set? */
    background-color: transparent;
}

.with-color-picker {
    cursor: none;
    z-index: 2001;
}

.color-picker-background {
    position: absolute;;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: block;
    z-index: 2000;
    top: 0;
    left: 0;
}

.stage-wrapper {
    position: relative;
    border-radius: $space;
    border: 1px solid $ui-pane-border;
    /* Keep the canvas inside the border radius */
    overflow: hidden;
}

.monitor-wrapper, .color-picker-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
