@import "../../css/colors.css";

.progress-ring {
    margin: 0.5rem;
}

.progress-ring-svg {
    fill: transparent;
}

.progress-ring .progress-ring-ring {
    stroke: $motion-light-transparent;
}

.progress-ring .progress-ring-value {
    stroke: $motion-primary;
    stroke-linecap: round;
}
