$ui-pane-border: #D9D9D9;
$ui-pane-gray: #F9F9F9;
$ui-background-blue: #e8edf1;

$text-primary: #575e75;

$motion-primary: #4C97FF;
$motion-tertiary: #3373CC;
$motion-transparent: hsla(215, 100%, 65%, 0.20);

$red-primary: #FF661A;
$red-tertiary: #E64D00;

$sound-primary: #CF63CF;
$sound-tertiary: #A63FA6;

$control-primary: #FFAB19;

$form-border: #E9EEF2;
