$space: 0.5rem;

$sprites-per-row: 5;

$menu-bar-height: 3rem;
$sprite-info-height: 5.25rem; /* @todo: SpriteInfo isn't explicitly set to this height yet */
$stage-menu-height: 3rem;

$library-header-height: 4.375rem;

$form-radius: calc($space / 2);
