@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.workbook-answer-container {
    /* display: flex; */
    padding: $space;
    margin-top: $space;
    background-color: $ui-white;
    border-top-right-radius: $space;
    border: $stage-standard-border-width solid $ui-black-transparent;
    font-size: 1.2rem;
}

.answering-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $space;
}

.button {
    min-height: 2rem;
    width: 6.5rem;
    padding: 0.55rem 0.9rem;
    background: $motion-primary;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    outline-style:none;
}

.run-button {
    background: $motion-primary;
    margin-right: 0;
    margin-left: auto;
}

.surrender-button {
    background: $data-primary;
}

.answered-container {
    display: flex;
    flex-direction: row;
}

.explanation-container {
    margin-right: $space;
}

.title {
    margin-right: 0.5rem;
    font-weight: bold;
}

.description {
    color: $text-primary;
}

.next-button-container {
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: auto;
}

.next-button {
    background: $motion-primary;
}
