.sa-gamepad-container {
  margin-right: 0.2rem;
}

.sa-gamepad-spacer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.sa-gamepad-popup-outer {
  /* above fullscreen */
  z-index: 99999;
}
.sa-gamepad-popup {
  box-sizing: border-box;
  width: 700px;
  max-height: min(800px, 85vh);
  height: 100%;
  max-width: 85%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
.sa-gamepad-popup-content {
  background-color: white;
  padding: 1.5rem 2.25rem;
  height: 100%;
  overflow-y: auto;
}

.sa-gamepad-popup [class*="modal_header-item-title"] {
  margin: 0 -20rem 0 0;
}

.sa-gamepad-cursor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
  will-change: transform;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.sa-gamepad-cursor-down {
  filter: invert(100%);
}

.sa-gamepad-small .sa-gamepad-container[data-editor-mode="editor"] {
  display: none !important;
}

.sa-gamepad-hide-cursor [class^="stage_stage_"] {
  cursor: none;
}

.sa-gamepad-browser-support-warning {
  font-weight: bold;
  margin-bottom: 10px;
}

.sa-gamepad-store-settings {
  display: none;
}
.sa-gamepad-store-settings > input {
  margin-right: 4px;
}
.sa-gamepad-has-controller .sa-gamepad-store-settings {
  display: block;
}
