@import "../../css/colors.css";
@import "../../css/units.css";

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: gray;
    background-color: $blue;

    border-radius: 50%;
    border-color: #dbdbdb;
    border-style: solid;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: all 0.15s ease-out; /* @todo: standardize with var */
}

.small {
    width: 1rem;
    height: 1rem;
    border-width: 1px;
}

.large {
    width: 2.75rem;
    height: 2.75rem;
    border-width: 2px;
}

.close-button:hover {
    transform: scale(1.1, 1.1);
}

/*  Same icon as Sprite Selector Add button, but rotated.
    TODO: reuse?
*/
.close-icon {
    transform-origin: 50%;
    transform: rotate(45deg);
    width: 40%;
}
