@import "../../css/colors.css";
@import "../../css/units.css";

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;  /* Mask the icon animation */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.close-button.large:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
}

.small {
    width: 1rem;
    height: 1rem;
    color: #FFF;
    background-color: $motion-primary;
}

.large {
    width: 1.75rem;
    height: 1.75rem;
}

.close-icon {
    position: relative;
    margin: 0.25rem;
    user-select: none;
    transform-origin: 50%;
    transform: rotate(45deg);
}

.small .close-icon {
    width: 40%;
}

.large .close-icon {
    width: 0.75rem;
    height: 0.75rem;
}
