@import "../../css/colors.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}
body[theme="dark"] {
    background-color: #111;
    color: #eee;
}

a {
    color: blue;
}
[theme="dark"] a {
    color: #4af;
}

.main section {
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
}

.header-container {
    color: white;
    background-color: $motion-primary;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}
.header-text {

}

.users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.user-image {
    margin-right: 12px;
}
.user {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 4px;
    border-radius: 4px;
    font-size: 1.25rem;
    color: inherit !important;
    text-decoration: none;
    transition: background .2s;
}
.user:link:hover {
    background: #eee;
}
[theme="dark"] .user:link:hover {
    background: #222;
}
