/* Based on the `stage-selector_raised` class */
div[class*="stage-selector_header_"],
div[class*="sprite-selector_sprite-selector"],
div[class*="sprite-info_sprite-info"],
div[class*="monitor_list-body"] {
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.sa-dragged-over,
.sa-dragged-over div[class*="stage-selector_header_"],
.sa-dragged-over div[class*="sprite-info_sprite-info"],
.sa-dragged-over div[class*="monitor_list-body"] {
  background-color: hsla(0, 100%, 77%, 1) !important;
}
