.green-flag {
    width: 1.1rem;
    height: 1.1rem;
    opacity: 0.5;
    margin: 0.25rem 0.6rem;
    cursor: pointer;
    transition: opacity 0.2s ease-out; /* TODO: standardize with var */ 
}

.green-flag.is-active,
.green-flag:hover {
    opacity: 1;
}
