.pos-container-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pos-container {
  font-size: 0.6rem;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5cb1d6;
  white-space: nowrap;
}

/* Use pseudo elements to avoid firing mutation observers by just moving the cursor */
.pos-container > span::after {
  content: attr(data-content);
}
