.description {
    max-height: 250px;
    overflow: auto;
    white-space: pre-line;
    overflow-wrap: break-word;
    line-height: 1.5em;
    padding: 0.5rem;
    margin: 5px 0 8px 0;
    border: 1px solid #b9d6ff;
    background-color: #dbebff;
}

.description a {
    font-weight: bold;
    text-decoration: none;
}

[theme="dark"] .description {
    border-color: #203652;
    background-color: #16202c;
}

.header {
    font-weight: bold;
}

.divider {
    margin-top: 8px;
}

.project-link {
    margin-bottom: 2px;
}
